# PostgreSQL environment variables
POSTGRES_PASSWORD={{ db_password }}
POSTGRES_USER={{ db_user }}
POSTGRES_DB={{ db_name }}

# Redmine database connection
REDMINE_DB_POSTGRES={{ db_host }}
REDMINE_DB_USERNAME={{ db_user }}
REDMINE_DB_PASSWORD={{ db_password }}
REDMINE_DB_DATABASE={{ db_name }}

# Redmine configuration
REDMINE_SECRET_KEY_BASE={{ lookup('password', '/dev/null chars=ascii_letters,digits length=64') }}
REDMINE_PORT=3000
