# PostgreSQL environment variables
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_DB={{ postgres_db }}

# Redmine database connection
REDMINE_DB_POSTGRES=postgres-redmine
REDMINE_DB_USERNAME={{ postgres_user }}
REDMINE_DB_PASSWORD={{ postgres_password }}
REDMINE_DB_DATABASE={{ postgres_db }}

# Redmine configuration
REDMINE_SECRET_KEY_BASE={{ lookup('password', '/dev/null chars=ascii_letters,digits length=64') }}
REDMINE_PORT=3000
